.blogpost-title
	color: #4c5d6e
	font-size: 34px
	font-weight: 500
	line-height: 44px
	
.content
	h2
		margin-bottom: 24px
		margin-top: 32px
		color: #4c5d6e
		font-size: 24px
		font-weight: 400
		line-height: 32px
	h3
		color: #4c5d6e
		font-size: 20px
		line-height: 28px
	h4
		color: #4c5d6e
		font-size: 18px
		line-height: 26px
		
	ul
		padding-left: 30px
	table
		border-collapse: collapse
		border: 1px solid black
		margin: 0 auto
		max-width: 100%
		th
			border: 1px solid black
			padding: 5px
			vertical-align: middle
		td
			border: 1px solid black
			padding: 5px
			vertical-align: middle
@media screen and (max-width: 768px)
	.content
		table
			display: none