extends template
block title
    title Главная
block content
    aside.aside
        a(href='/').logo.logo__left
            img(src='img/logo_min.png' alt='123')
        nav.nav.left-mnu
            ul
                li
                    a(href='forcompany.html')
                        img(src="img/forus.png", alt="123")
                        span О компании
                li
                    a(href='/')
                        img(src="img/manager.png", alt="123")
                        span Схема работы
                li
                    a(href='news.html')
                        img(src="img/news.png", alt="123")
                        span Новости
                li
                    a(href='portal.html')
                        img(src="img/portal.png", alt="123")
                        span Портал
                li.active
                    a(href='contacts.html')
                        img(src="img/contacts.png", alt="123")
                        span Контакты
                li
                    a(href='lisence.html')
                        img(src="img/certificate.png", alt="123")
                        span Вакансии
    .wrapper.wrapper__left
        .content__wrap
            .head.head__left
                .head__wrap
                    a(href='/').link
                        img(src='img/back.png' alt="На главную")
                        | Контакты
                    .head__logo
                    .head__users

                        <a href="#" class="toggle-mnu"><span></span></a>
                nav.nav.main-mnu
                    ul
                        li
                            a(href='forcompany.html')
                                img(src="img/forus.png", alt="123")
                                span О компании
                        li
                            a(href='/')
                                img(src="img/manager.png", alt="123")
                                span Схема работы
                        li
                            a(href='news.html')
                                img(src="img/news.png", alt="123")
                                span Новости
                        li
                            a(href='portal.html')
                                img(src="img/portal.png", alt="123")
                                span Портал
                        li.active
                            a(href='contacts.html')
                                img(src="img/contacts.png", alt="123")
                                span Контакты
                        li
                            a(href='lisence.html')
                                img(src="img/certificate.png", alt="123")
                                span Вакансии
            .content.content__left
                h2.blogpost-title Контакты
                ul
                    li
                        b Москва
                    li
                        b Офис продаж, склад:
                        | 143005, Московская область, г.Одинцово, ул.Трехгорная, дом 12
                    li
                        b Юридический адрес:
                        | 121170, г. Москва, Кутузовский проспект, дом 41, офис 7.
                    li
                        b Телефон:
                        | +7(499)418-39-89
                    li
                        b E-mail:
                        | info@medicalcall.ru
                    li
                        b Время работы
                        | 9.00-18.00 ПН-ПТ
                    li
                        img(src="img/map.jpg" alt="123")

        .footer.footer__left
            .footer__wrap
                .line
                    span @medical
                    a(href="#", title="title").footer__link Пользовательское соглашение
                    a(href="mailto: xolms111@ya.ru", title="title").footer__link xolms111@ya.ru
                .line
                    p Лицензия на образовательную деятельность № 038188 от 26 января 2017 г.


