extends template
block title
    title Главная
block content
    .wrapper
        .content__wrap
            .head
                .head__wrap
                    .head__logo
                        a(href='/').logo
                            img(src='/img/logo.png' alt='123')
                    .head__users
                        span.total-users Нас уже 1 920 792 человек
                        a(href='portal.html').link Портал
                        <a href="#" class="toggle-mnu"><span></span></a>
                .nav.main-mnu
                    ul
                        li
                            a(href='forcompany.html')
                                img(src="/img/forus.png", alt="123")
                                span О компании
                        li.active
                            a(href='/')
                                img(src="/img/manager.png", alt="123")
                                span Схема работы
                        li
                            a(href='news.html')
                                img(src="/img/news.png", alt="123")
                                span Новости
                        li
                            a(href='portal.html')
                                img(src="/img/portal.png", alt="123")
                                span Портал
                        li
                            a(href='contacts.html')
                                img(src="/img/contacts.png", alt="123")
                                span Контакты
                        li
                            a(href='lisence.html')
                                img(src="/img/certificate.png", alt="123")
                                span Вакансии

            .section__wrap
                .title__wrap
                    h1 Хочешь научиться<br/>програмировать?
                    p Получи доступ к десяткам бесплатных материалов
                    p Общайся и учись у ведущих IT-специалистов
                .slider__wrap
                    .slider.owl-carousel.owl-theme
                        .item
                            img(src='img/map1.jpg' alt='Москва')
                        .item
                            img(src='img/map2.jpg' alt='Санкт-Петербург')
                        .item
                            img(src='img/map3.jpg' alt='Золотой мост')
                        .item
                            img(src='img/map4.jpg' alt='Екатеринбург')
                        .item
                            img(src='img/map5.jpg' alt='Самара')
                        .item
                            img(src='img/map6.jpg' alt='Новосибирск')
                        .item
                            img(src='img/map7.jpg' alt='Нижний Новгород')
                        .item
                            img(src='img/map8.jpg' alt='Казань')
                        .item
                            img(src='img/map9.jpg' alt='Челябинск')
                        .item
                            img(src='img/map10.jpg' alt='Омск')

            .nav
                ul
                    li
                        a(href='forcompany.html')
                            img(src="/img/forus.png", alt="123")
                            span О компании
                    li.active
                        a(href='/')
                            img(src="/img/manager.png", alt="123")
                            span Схема работы
                    li
                        a(href='news.html')
                            img(src="/img/news.png", alt="123")
                            span Новости
                    li
                        a(href='portal.html')
                            img(src="/img/portal.png", alt="123")
                            span Портал
                    li
                        a(href='contacts.html')
                            img(src="/img/contacts.png", alt="123")
                            span Контакты
                    li
                        a(href='lisence.html')
                            img(src="/img/certificate.png", alt="123")
                            span Вакансии
            .content
                h2.blogpost-title Сфера медицинских услуг высококонкурентна.
                p Требует высокий уровень объёмов инвестиций в оборудование и специалистов.
                p Высокие издержки на содержание оборудования и квалифицированных кадров.
                p Сфера продаж не является профильной для большинства специалистов и руководителей медицинских учреждений.
                p При недостаточном финансировании и инвестициях в маркетинг эффективность отдела маркетинга крайне низкая.
                p Из-за высокой конкуренции в отрасли даже крупным сетевым клиникам невыгодно содержать полностью укомплектованный отдел маркетинга, соответствующий по качеству работы современным рыночным требованиям.
                p Полный штат сотрудников и издержки на технологическое обеспечение и модернизацию в области маркетинга являются постоянными затратами медицинского учреждения. Масштабный отдел маркетинга перестаёт быть гибким инструментом и является тяжёлой ношей для компании.
                p В случае простоя (тех. обслуживания) оборудования дополнительные постоянные затраты на маркетинг увеличивают риск возникновения дефицита бюджета.
                p При недостаточном финансировании и инвестициях в маркетинг эффективность отдела маркетинга крайне низкая.
                p Из-за высокой конкуренции в отрасли даже крупным сетевым клиникам невыгодно содержать полностью укомплектованный отдел маркетинга, соответствующий по качеству работы современным рыночным требованиям.
                p Полный штат сотрудников и издержки на технологическое обеспечение и модернизацию в области маркетинга являются постоянными затратами медицинского учреждения. Масштабный отдел маркетинга перестаёт быть гибким инструментом и является тяжёлой ношей для компании.
                p В случае простоя (тех. обслуживания) оборудования дополнительные постоянные затраты на маркетинг увеличивают риск возникновения дефицита бюджета.
                p Передача задач по маркетингу (привлечению пациентов) от сотрудников мед. учреждения специалистам по продажам – шаг к более эффективного управлению затратами.
                p Сотрудничая с нами Вы оплачиваете привлечение только тех пациентов, которые фактически пришли в клинику и получили медицинские услуги. Будучи специалистами, все риски и издержки рекламы мы берём на себя, так как уверены в эффективности и высоком качестве своей работы. В отличие от большинства маркетинговых инструментов, при работе с нами, оплату привлечения пациентов Вы производите фактически после  получения денег в кассу.
                p Для начала сотрудничества с нами вышлите нам заполненную анкету мед. учреждения с пакетом обязательных документов. В случае, если Ваша клиника является мед. учреждением, соответствующим нашим требованиям, мы позвоним Вам и согласуем удобное для Вас время и место презентации.
        .footer
            .footer__wrap
                .line
                    span @medical
                    a(href="#", title="title").footer__link Пользовательское соглашение
                    a(href="mailto: xolms111@ya.ru", title="title").footer__link xolms111@ya.ru
                .line
                    p Лицензия на образовательную деятельность № 038188 от 26 января 2017 г.